<!DOCTYPE html>
<html lang="en">

<head>
    
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<div class="page-content">
  <div class="checkout">
      <div class="container">
      <div class="checkout-discount">
      </div><!-- End .checkout-discount -->

        <form  [formGroup]="checkoutForm" (ngSubmit)="checkout()">
          <div class="row">
            <div class="col-lg-9">
              <h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
                <div class="row">
                  <div class="col-sm-6">
                    <label >Nome *</label>
                    <input type="text" formControlName="nome" class="form-control" placeholder="Mario" required>
                  </div><!-- End .col-sm-6 -->

                  <div class="col-sm-6">
                    <label>Cognome*</label>
                    <input formControlName="cognome" type="text" class="form-control" placeholder="Rossi" required>
                  </div><!-- End .col-sm-6 -->
                </div><!-- End .row -->

              <label>Stato*</label>
              <input type="text" formControlName="nazione" class="form-control" required placeholder="Italia">

              <label>Indirizzo *</label>
              <input type="text" class="form-control" formControlName="indirizzo" placeholder="Via .... N ..." required>
              <input type="text" class="form-control" >

              <div class="row">
                  <div class="col-sm-6">
                    <label>Città *</label>
                    <input type="text" formControlName="città" class="form-control" placeholder="Roma" required>
                  </div><!-- End .col-sm-6 -->

                  <div class="col-sm-6">
                    <label>Regione*</label>
                    <input type="text" formControlName="regione" class="form-control" placeholder="Lazio" required>
                  </div><!-- End .col-sm-6 -->
                </div><!-- End .row -->

                <div class="row">
                  <div class="col-sm-6">
                    <label>CAP *</label>
                    <input type="text" formControlName="CAP" class="form-control" placeholder="87039" required>
                  </div><!-- End .col-sm-6 -->

                  <div class="col-sm-6">
                    <label>Numero Telefono *</label>
                    <input type="tel" formControlName="phone" class="form-control" placeholder="333857294" required>
                  </div><!-- End .col-sm-6 -->
                </div><!-- End .row -->

                <label>Email *</label>
            <input type="email"  formControlName="email"class="form-control" placeholder="carezze@gmail.com" required>
                <label>Commenti aggiuntivi</label>
            <textarea class="form-control" cols="30" rows="4" placeholder="Note riguardanti le spedizioni"></textarea>
            </div><!-- End .col-lg-9 -->
            <aside class="col-lg-3">
              <div class="summary">
                <h3 class="summary-title">Il tuo ordine</h3><!-- End .summary-title -->

                <table class="table table-summary">
                  <thead>
                    <tr>
                      <th>Prodotto</th>
                      <th>Totale</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr *ngFor="let cart of cartlist">
                      <td><a href="#">{{cart.productname}}</a></td>
                      <td>{{cart.price | currency:'EUR'}}</td>
                    </tr>
                    <tr class="summary-subtotal">
                      <td>Subtotal:</td>
                      <td>{{totalSum | currency:'EUR'}}</td>
                    </tr><!-- End .summary-subtotal -->
                    <tr>
                      <td>Spedizione:</td>
                      <td>Spedizione Gratuita</td>
                    </tr>
                    <tr class="summary-total">
                      <td>Totale:</td>
                      <td>{{totalSum | currency:'EUR'}}</td>
                    </tr><!-- End .summary-total -->
                  </tbody>
                </table><!-- End .table table-summary -->

                <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
                  <span class="btn-text">Conferma Ordine</span>
                  <span class="btn-hover-text">Procedi al Checkout</span>
                </button>
              </div><!-- End .summary -->
            </aside><!-- End .col-lg-3 -->
          </div><!-- End .row -->
      </form>
      </div><!-- End .container -->
    </div><!-- End .checkout -->
</div><!-- End .page-content -->
