
<head>
  <!-- QUESTO E' LO STILE CON CSS, DEVO VEDERE COME FARE PER PASSARLO NEL FILE CSS-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
  <div class="page-wrapper" [ngSwitch]="loggedType" >

    <header class="header" *ngSwitchCase="'home'">
          <div class="header-middle sticky-header">
            <div class="container">
                <div class="header-left">

                    <a  class="logo">
                        <img class=" nav-link" routerLink="/home"  src="assets/images/logo.png" alt="Molla Logo" width="105" height="25">
                    </a>

                    <nav class="main-nav">
                      <ul class="menu sf-arrows">
                              <a  routerLink="/home/about"  >AboutUs</a>
                     </ul>
                    </nav>

                  <nav class="main-nav">
                    <ul class="menu sf-arrows">

                      <a  routerLink="/home/uomo" >Uomo</a>
                    </ul>
                  </nav>

                  <nav  class="main-nav">
                    <ul style="margin-top:23px;"   >

                      <a  routerLink="/home/donna" >Donna</a>

                    </ul>
                  </nav>

            </div>

            <div class="container">
                <div class="header-right">


                    <nav class="main-nav">
                      <ul class="menu sf-arrows">
                              <a routerLink="/login"  >Login</a>
                    </ul>
                    </nav>

                    <nav class="main-nav">
                      <ul class="menu sf-arrows">
                              <a routerLink="/register" >Registrati</a>
                    </ul>
                    </nav>

                    <nav class="main-nav">
                      <ul class="menu sf-arrows">
                        <a routerLink="/home/cart" >Carrello</a>
                    </ul>
                  </nav>


                </div>
             </div>
            </div>
          </div>
    </header>

    <header class="header" *ngSwitchCase="'customer'">
      <div class="header-middle sticky-header">
        <div class="container">
          <div class="header-left">

            <a  class="logo">
              <img class=" nav-link" routerLink="/home"  src="assets/images/logo.png" alt="Molla Logo" width="105" height="25">
            </a>

            <nav class="main-nav">
              <ul class="menu sf-arrows">
                <a  routerLink="/home/about"  >AboutUs</a>
              </ul>
            </nav>


            <nav class="main-nav">
              <ul class="menu sf-arrows">
                <a  routerLink="/home/uomo" >Uomo</a>
              </ul>
            </nav>

            <nav class="main-nav">
              <ul class="menu sf-arrows">
                <a  style="margin-top:23px;"  routerLink="/home/donna" >Donna</a>
              </ul>
            </nav>


          </div>

          <div class="container">
            <div class="header-right">


              <nav class="main-nav">
                <ul class="menu sf-arrows">
                  <a (click)="logout()" > Logout</a>
                </ul>
              </nav>

              <nav class="main-nav">
                <ul class="menu sf-arrows">
                  <a  routerLink="/home/user-detail"  >Profilo</a>
                </ul>
              </nav>

              <nav class="main-nav">
                <ul class="menu sf-arrows">
                  <a  routerLink="/home/address"  >Indirizzo</a>
                </ul>
              </nav>

              <nav class="main-nav">
                <ul class="menu sf-arrows">
                  <a routerLink="/home/cart" >Carrello</a>
                </ul>
              </nav>


            </div>
          </div>

        </div>
      </div>

    </header>

    <header class="header" *ngSwitchCase="'admin'">
      <div class="header-middle sticky-header">
        <div class="container">
          <div class="header-left">

            <a  class="logo">
              <img class=" nav-link" routerLink="/home"  src="assets/images/logo.png" alt="Molla Logo" width="105" height="25">
            </a>

            <nav class="main-nav">
              <ul class="menu sf-arrows">
                <a  routerLink="/home/about"  >AboutUs</a>
              </ul>
            </nav>









          </div>

          <div class="container">
            <div class="header-right">


              <nav class="main-nav">
                <ul class="menu sf-arrows">
                  <a routerLink="/login"  >Aggiungi Prodotto</a>
                </ul>
              </nav>

              <nav class="main-nav">
                <ul class="menu sf-arrows">
                  <a routerLink="admin/edit"  >Modifica Prodotto</a>
                </ul>
              </nav>

              <nav class="main-nav">
                <ul class="menu sf-arrows">
                  <a (click)="logout()" >Log Out</a>
                </ul>
              </nav>


            </div>
          </div>

        </div>
      </div>

    </header>
  </div>
</body>

