<!-- User details -->

<div class="user-details container mt-4">


<div class="header-middle sticky-header">
    <!-- QUI VISUALIZZERO' LE RIGHE DEI DETTAGLI DELL'UTENTE -->

 <div class="header-left">
    <div class="user-details container mt-4">
      <!-- div v-for="(user, id) in users" :key="id"> <-->


        <div class="user-title"><strong>User ID: </strong> {{ user.email}} </div> <!-->{{ user.email}}<-->
        <p class=""><strong>Email:</strong> {{ user.username }}</p> <!-->{{ user.username }}<-->
        <p class=""><strong>Password:</strong> {{ user.password }} </p> <!-->{{ user.password }}<-->
        <p class=""><strong>Tipo Utente:</strong> {{ user.usertype }}</p> <!--> {{ user.usertype }}<-->
        <p class=""><strong>Età:</strong>{{ user.age }} </p> <!-->{{ user.age }}<-->
      </div>
</div>



    <!-- QUI VISUALIZZERO' LE RIGHE DELL'L'INDIRIZZO INSERITO DALL'UTENTE -->
    <div class="header-right">
    <div class="user-details container mt-4">
      <!--div v-for="(user, id) in users" :key="id"-->


        <p class=""><strong>Nome:</strong>{{ address.nome }}  </p> <!-->{{ address.nome }}<-->
        <p class=""><strong>Cognome:</strong> {{ address.cognome }} </p> <!-->{{ address.cognome }}<-->
        <p class=""><strong>Nazione:</strong> {{ address.nazione }} </p> <!-->{{ address.nazione }}<-->
        <p class=""><strong>Indirizzo:</strong> {{ address.indirizzo }}</p><!-->{{ address.indirizzo }}<-->
      <!--    <p class=""><strong>Citta:</strong>{{ address.città }}  </p> {{ address.città }}-->
        <p class=""><strong>Regione:</strong> {{ address.regione }}</p><!-->{{ address.regione }}<-->
        <p class=""><strong>CAP:</strong> {{ address.CAP }} </p><!-->{{ address.CAP }}<-->
        <p class=""><strong>Email:</strong> {{ address.email }}</p><!-->{{ address.email }}<-->
        <p class=""><strong>Phone:</strong> {{ address.phone }}</p><!-->{{ address.phone }}<-->
    </div>
    </div>
</div>

</div>
