<!-- User details -->

<div class="user-details container mt-4">


<div class="header-middle sticky-header">
    <!-- QUI VISUALIZZERO' LE RIGHE DEI DETTAGLI DELL'UTENTE -->

 <div class="header-left">
    <div class="user-details container mt-4">
      <!-- div v-for="(user, id) in users" :key="id"> <-->


        <div class="user-title"><strong>User ID: </strong></div> <!-->{{ user.email}}<-->
        <p class=""><strong>Email:</strong> </p> <!-->{{ user.username }}<-->
        <p class=""><strong>Password:</strong>  </p> <!-->{{ user.password }}<-->
        <p class=""><strong>Tipo Utente:</strong> </p> <!--> {{ user.usertype }}<-->
        <p class=""><strong>Età:</strong> </p> <!-->{{ user.age }}<-->
      </div>
</div>



    <!-- QUI VISUALIZZERO' LE RIGHE DELL'L'INDIRIZZO INSERITO DALL'UTENTE -->
    <div class="header-right">
    <div class="user-details container mt-4">
      <!--div v-for="(user, id) in users" :key="id"-->


        <p class=""><strong>Nome:</strong>  </p> <!-->{{ address.nome }}<-->
        <p class=""><strong>Cognome:</strong>  </p> <!-->{{ address.cognome }}<-->
        <p class=""><strong>Nazione:</strong>  </p> <!-->{{ address.nazione }}<-->
        <p class=""><strong>Indirizzo:</strong> </p><!-->{{ address.indirizzo }}<-->
         <p class=""><strong>Citta:</strong>  </p> <!-->{{ address.citta }}<-->
        <p class=""><strong>Regione:</strong> </p><!-->{{ address.regione }}<-->
        <p class=""><strong>CAP:</strong>  </p><!-->{{ address.CAP }}<-->
        <p class=""><strong>Email:</strong> </p><!-->{{ address.email }}<-->
        <p class=""><strong>Phone:</strong> </p><!-->{{ address.phone }}<-->
    </div>
    </div>
</div>

</div>
