<head>
  <link  type="text/css" rel="stylesheet" href="assets/css/plugins/owl-carousel/owl.carousel.css">
  <link  type="text/css" rel="stylesheet" href="assets/css/plugins/magnific-popup/magnific-popup.css">
  <link type="text/css"rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link type="text/css"  rel="stylesheet" href="assets/css/style.css">
  <link type="text/css" rel="stylesheet" href="assets/css/plugins/nouislider/nouislider.css">
</head>



<aside class="col-lg-3 order-lg-first">
  <div class="sidebar sidebar-shop">
   <div class="widget widget-collapsible">
<h5 >
  <a >
      Category
  </a>
</h5><!-- End .widget-title -->

<div class="collapse show" id="widget-1">
<div class="widget-body">
  <div class="filter-items filter-items-count">
    <div>
      <label>
        <input type="radio" value="Maglia" [(ngModel)]="category" name="category" />Maglia</label>
      <div>
      <label>
        <input type="radio"  value="Pantaloni" [(ngModel)]="category" name="category" />Pantaloni</label>
      </div>
      <label>
        <input type="radio"  value="Giubotti" [(ngModel)]="category" name="category" />Giubotti</label>
    </div>

  </div><!-- End .filter-items -->
</div><!-- End .widget-body -->
</div><!-- End .collapse -->
</div><!-- End .widget -->

<div class="widget widget-collapsible">
<h5 >
  <a >
      Size
  </a>
</h5><!-- End .widget-title -->

<div class="collapse show" id="widget-2">
<div class="widget-body">
  <div class="filter-items">
    <div>
      <label>
        <input type="radio" value="S" [(ngModel)]="size" name="size" />S</label>
      <div>
      <label>
        <input type="radio"  value="M" [(ngModel)]="size" name="size" />M </label>
      </div>
      <label>
        <input type="radio"  value="XL" [(ngModel)]="size" name="size" />XL</label>
    </div>
  </div><!-- End .filter-items -->
</div><!-- End .widget-body -->
</div><!-- End .collapse -->
</div><!-- End .widget -->

<div class="widget widget-collapsible">
  <h5 >
    <a>
        Sesso
    </a>
</h5><!-- End .widget-title -->


  </div><!-- End .widget -->

<div >
    <h3 class="widget-title">

          <button class="applica"  (click)="myClick()"> Applica</button>
          <button class="applica"  (click)="azzera()"> Reset</button>
    </h3><!-- End .widget-title -->

</div><!-- End .widget -->
  </div><!-- End .sidebar sidebar-shop -->
</aside><!-- End .col-lg-3 -->
