<head>
  <link  type="text/css" rel="stylesheet" href="assets/css/plugins/owl-carousel/owl.carousel.css">
  <link  type="text/css" rel="stylesheet" href="assets/css/plugins/magnific-popup/magnific-popup.css">
  <link type="text/css"rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link type="text/css"  rel="stylesheet" href="assets/css/style.css">
  <link type="text/css" rel="stylesheet" href="assets/css/plugins/nouislider/nouislider.css">
</head>



<aside class="col-lg-3 order-lg-first">
  <div class="sidebar sidebar-shop">
    <div class="widget widget-clean">
      <label>Filters:</label>
      <a href="#" class="sidebar-filter-clear">Clean All</a>
    </div><!-- End .widget widget-clean -->

    <div class="widget widget-collapsible">
<h3 class="widget-title">
  <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true" aria-controls="widget-1">
      Category
  </a>
</h3><!-- End .widget-title -->

<div class="collapse show" id="widget-1">
<div class="widget-body">
  <div class="filter-items filter-items-count">
    <div>
      <label>
        <input type="radio" value="KIWI" [(ngModel)]="category" name="category" />Kiwi</label>
      <div>
      <label>
        <input type="radio"  value="JACK" [(ngModel)]="category" name="category" />Jackfruit</label>
      </div>
      <label>
        <input type="radio"  value="MANGO" [(ngModel)]="category" name="category" />Mango</label>
    </div>
    
  </div><!-- End .filter-items -->
</div><!-- End .widget-body -->
</div><!-- End .collapse -->
</div><!-- End .widget -->

<div class="widget widget-collapsible">
<h3 class="widget-title">
  <a data-toggle="collapse" href="#widget-2" role="button" aria-expanded="true" aria-controls="widget-2">
      Size
  </a>
</h3><!-- End .widget-title -->

<div class="collapse show" id="widget-2">
<div class="widget-body">
  <div class="filter-items">
    <div>
      <label>
        <input type="radio" value="S" [(ngModel)]="size" name="size" />S</label>
      <div>
      <label>
        <input type="radio"  value="M" [(ngModel)]="size" name="size" />M </label>
      </div>
      <label>
        <input type="radio"  value="L" [(ngModel)]="size" name="size" />L</label>
    </div>
  </div><!-- End .filter-items -->
</div><!-- End .widget-body -->
</div><!-- End .collapse -->
</div><!-- End .widget -->

<div class="widget widget-collapsible">
  <h3 class="widget-title">
    <a data-toggle="collapse" href="#widget-2" role="button" aria-expanded="true" aria-controls="widget-2">
        Sesso
    </a>
</h3><!-- End .widget-title -->

<div class="collapse show" id="widget-2">
  <div class="widget-body">
    <div class="filter-items">
      <div>
        <label>
          <input type="radio" value="Femmina" [(ngModel)]="sesso" name="sesso" />Femmina</label>
        <div>
        <label>
          <input type="radio"  value="Maschio" [(ngModel)]="sesso" name="sesso" />Maschio</label>
        </div>
      </div>
    </div><!-- End .filter-items -->
  </div><!-- End .widget-body -->
</div><!-- End .collapse -->
  </div><!-- End .widget -->

<div >
    <h3 class="widget-title">
       
          <button (click)="myClick()"> APPLICA</button>
    </h3><!-- End .widget-title -->

</div><!-- End .widget -->
  </div><!-- End .sidebar sidebar-shop -->
</aside><!-- End .col-lg-3 -->
