<head>
      <link  type="text/css" rel="stylesheet" href="assets/css/plugins/owl-carousel/owl.carousel.css">
      <link  type="text/css" rel="stylesheet" href="assets/css/plugins/magnific-popup/magnific-popup.css">
      <link type="text/css"rel="stylesheet" href="assets/css/bootstrap.min.css">
      <link type="text/css"  rel="stylesheet" href="assets/css/style.css">
      <link type="text/css" rel="stylesheet" href="assets/css/plugins/nouislider/nouislider.css">
</head>

<body>
      <div class="page-content">
      <div class="row">
        <div class="col-3 align-left" *ngFor="let product of products">
          <div class="card-body">
            <app-product [product]="product" (showProduct)="showProductPage(product.productid)">Loading...</app-product>
          </div>
        </div>
      </div>
    </div>


</body>



