<p>
  <!-- Plugins CSS File -->
  <link rel="stylesheet" href="/Angular-Springboot-master/src/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/Angular-Springboot-master/src/assets/css/plugins/owl-carousel/owl.carousel.css">
  <link rel="stylesheet" href="/Angular-Springboot-master/src/assets/css/plugins/magnific-popup/magnific-popup.css">
  <!-- Main CSS File -->
  <link rel="stylesheet" href="/Angular-Springboot-master/src/assets/css/style.css">
  <link rel="stylesheet" href="/Angular-Springboot-master/src/assets/css/plugins/nouislider/nouislider.css">

    <div class="container"> 
      <body>
         <div class="product-details-top">
            <div class="row">
              <div class="col-md-6">
                  <div class="product-gallery product-gallery-vertical">
                    <div class="row">
                       <figure class="product-main-image">
                            <img id="product-zoom" src="data:image/png;base64,{{product.productimage}}" data-zoom-image="assets/images/products/single/1-big.jpg" alt="product image">

                           <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                               <i class="icon-arrows"></i>
                           </a>
                       </figure><!-- End .product-main-image -->
                    </div><!-- End .row -->
               </div><!-- End .product-gallery -->
           </div><!-- End .col-md-6 -->

            <div class="col-md-6">
                <div class="product-details">
                    <h1 class="product-title">{{product.productname}}</h1><!-- End .product-title -->

                    <div class="ratings-container">
                       <div class="ratings">
                            <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                        </div><!-- End .ratings -->
                        
                    </div><!-- End .rating-container -->

                    
                   
                    <div class="details-filter-row details-row-size">
                        <h5>La size selezionata è: {{product.size}}</h5>
                       <div class="select">
                           
                       </div><!-- End .select-custom -->

                      </div><!-- End .details-filter-row -->
                    
                    <div class="product-price">
                      <h5>  {{product.price  | currency:'EUR'}}</h5>
                   </div><!-- End .product-price -->
                    <div class="details-filter-row details-row-size">
                        <h5>Quantita disponibili:</h5>
                        <div class="product-details-quantity">
                           <h5>Nel magazzino sono rimasti {{product.quantity}} pezzi del prodotto</h5>
                        </div><!-- End .product-details-quantity -->
                   </div><!-- End .details-filter-row -->

                    <div class="product-details-action">
                       <button (click)="addToCart(product)"  class="carrello">Aggiungi Al Carrello</button>

                    </div><!-- End .product-details-action -->

                </div><!-- End .product-details -->
            </div><!-- End .col-md-6 -->
        </div><!-- End .row -->
    </div><!-- End .product-details-top -->

    <div class="product-details-tab">
        <ul class="nav nav-pills justify-content-center" role="tablist">
            <li class="nav-item">
                <h3>Informazione sui prodotti</h3>
           </li>
       </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel" aria-labelledby="product-desc-link">
               <div class="product-desc-content">
                   
                   <p>{{product.description}}</p>
                    
                </div><!-- End .product-desc-content -->
            </div><!-- .End .tab-pane -->
         </div><!-- End .tab-content -->
      </div><!-- End .product-details-tab -->
      <div class="product-details-tab">
        <ul class="nav nav-pills justify-content-center" role="tablist">
            <li class="nav-item">
                <h3>Spedizione</h3>
           </li>
       </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel" aria-labelledby="product-desc-link">
               <div class="product-desc-content">
                   <p>{{product.description}}</p>
                    
                </div><!-- End .product-desc-content -->
            </div><!-- .End .tab-pane -->
            
            
         </div><!-- End .tab-content -->
      </div><!-- End .product-details-tab -->
    </body>
  </div>
